[Unit]
Description=sserveros standalone services
Wants=sserveros-webui.service sserveros-monitor.service
After=sserveros-webui.service sserveros-monitor.service

[Install]
WantedBy=default.target
